# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
# Folders
Chain
DB
Log
testdata

chain_config.json
cp_necessary_files.sh
main.go
scan
scan_config.json
start_mainnet.sh
start_testnet.sh
viewlog.sh
wallet.dat
peers.recent
Heap.prof*
